<article class="post">
  <div class="title">
    <a href="/post/{{id}}"><h2>{{title}}</h2></a>
  </div>
  <div>{{post_text}}</div>
  <div class="meta">
    by
    <b>{{user.username}}</b>
    on
    {{format_date created_at}}
    <a href="/post/{{id}}">{{comments.length}}
      {{format_plural "comment" comments.length}}</a>
  </div>
</article>